body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    /* display: flex; */
    display: block;
    justify-content: center;
    align-items: center;
    
}

ul{
    padding-left: 15rem;
}

img{
    
}

h1{
    text-align: center;
}

li{
    font-size: 30px;
}

p{
    font-size: 25px;
    padding-left: 10rem;
}

.nav-brand{
    text-align: center;
    font-size: 2.5rem;
    height: auto;
    width: 100%;
    border-radius: 1rem;
    border-bottom: 5px solid black;
}

.nav-heading{
    margin: 0%;
    font-size: 40px;
}

.div1{
    padding-bottom: 3rem;
}

.img{
   
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 5vh;
}

.img2{
   
    height: 50vh;
}

.q1{
    font-size: 40px;
}

hr{

}

.list{
    align-items: left;
}